@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #fff;
  --bg-secondary: #e8e8e8;
  --font-primary: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #000;
    --bg-secondary: #121212;
    --font-primary: #fff;
  }
}

body {
  background: var(--bg-primary);
  color: var(--font-primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .bg-primary {
    background-color: var(--bg-primary);
  }
  .bg-secondary {
    background-color: var(--bg-secondary);
  }
}
